<div id="wikibar">
  <div id="wikibar-inner">
    <strong><a href="/article.html">Table of contents</a></strong>
    <ul>
      {% for article in site.articles %}
      <li><a href="{{ article.url }}">{{ article.title }}</a>
        {% if page.url == article.url %}
        <ul class="subheading">
          {% for subheading in article.subheadings %}
          <li><a href="{{ article.url}}#{{subheading}}">{{subheading}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>

      {% endfor %}
    </ul>
  </div>
</div>
